
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    
}
/* nav style */
/* .logo-btn{
    justify-content: space-between;
} */

header{
    background-image: url(images/Hero-bg.png);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    /* background-image: url(images/Hero-bg.png); */
   
    
}
.nav-logo{
    font-weight: 800;
    font-size: 50px;
    color: blue;
    
}

/* button-style */
.button{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

/* banner style */

.banner-header{
    margin-top: 300px;
    text-align: center;
    padding-bottom: 250px;
}

.banner-greeting{
    font-size: 45px;
     font-size: bold;
    font-weight: bold;
    color: rgb(20, 0, 27);
}

.banner-font{
   
}