
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* .open-sans-normal:hover{
    border: solid 2px;
} */
/* nav style */
/* .logo-btn{
    justify-content: space-between;
} */

header{
    background-image: url(images/Hero-bg.png);
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    /* background-image: url(images/Hero-bg.png); */
       
}

.nav-logo{
    font-weight: 800;
    font-size: 50px;
    color: blue;
}

.nav-logo:hover{
    border: solid 5px;
    color: rgb(238, 170, 147);
}
/* button-style */
.button{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}
.button:hover{
    border: solid 5px;
    background-color: darksalmon;
}

/* banner style */

.banner-header{
    margin-top: 300px;
    text-align: center;
    padding-bottom: 250px;
}

.banner-greeting:hover{
    border: solid 2px;
    background-color: bisque;
}
.banner-greeting{
    font-size: 45px;
     font-size: bold;
    font-weight: bold;
    color: rgb(20, 0, 27);
}

.font-style{
   
}
/* banner-one */
.banner{
    display: flex;
    justify-content: space-around;
    padding: 30px 200px;
    margin: 0px auto;
    align-content: center;
    
}

/* .banner:hover{
    border: solid 4px;
    padding: 20px 200px;
    margin: 20px 300px;
} */
.banner-one-header{
    font-weight: 800;
    font-size: 30px;
}
.paragraph{
    font-size: 18px;
    font-weight: 600;
}

img{
    border-radius: 20px;
}

/* banner-two */
.banner-two{
    max-width: 1140px;
    background-color: beige;
    text-align: center;
    padding: 100px 130px;
    margin: 0 auto;
    border-radius: 15px;
}

.rating-content{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
}
.rating-header{
    font-weight: 800;
    font-size: 35px;
}

.rating-unit{
    font-size: 80px;
    font-weight: 900;
    color: blue;
    margin-bottom: 0;
}

.rating-p {
    font-size: 20px;
    margin-top: 0;
    font-weight: 600;
}